.card {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 1em;
  color: #000;
  min-width: 300px;
}

.card > *:not(hr) {
  padding-inline: 1em;
}

input {
  padding-inline: 0.35em;
  padding-block: 0.75em;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  font-family: inherit;
}

.go-back-box:hover {
  cursor: pointer;
}

.temperature-text {
  font-size: 2rem;
  font-weight: 800;
}

.vertical-line {
  width: 1px; /* Width of the line */
  height: 50px; /* Height of the line */
  background-color: rgba(0, 0, 0, 0.6); /* Color of the line */
  border: none; /* Remove the default border */
}
